@font-face {
    font-family: 'ukrainian';
    src: local('UkrainianJikharev'), local('UkrainianJikharev-Regular'),
    url(/public/fonts/ukrainianjikharev.woff) format('woff'),
    url(/public/fonts/ukrainianjikharev.ttf) format('truetype');
}

a, span, div, li {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
    height: 100%;
}

.ukrainianTitle {
    font-family: ukrainian, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}


.headerContainer {
    padding: 30px 20px;
    position: relative;
}

.headerLine {
    content: ' ';
    bottom: 0;
    position: absolute;
    background-image: url(/public/images/mobile/layout/afterMenuBackground.png);
    width: 100%;
    height: 100px;
    background-position: center center;
    top:170px;
}

.headerContainer .menuBackground {
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #FFCECE, #FDFDFD, #FFCECE);
    top: 5px;
    left: 0;
}

.headerContainer .headerControlPanel .controlButton {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

}

.headerContainer .headerControlPanel .controlButton i {
    background-color: #FFF;
    padding: 8px 12px 10px;
    border: 2px solid #CC0000;
    color: #cc1417;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 24px;
}

.headerContainer .headerControlPanel .controlButton:hover {
    border: 3px solid #FFF;
}

.headerContainer .headerControlPanel .controlButton i:hover {
    background-color: #FFF;
}

.headerContainer .logo {
    right: 20px;
    z-index: 1;
    margin: -40px auto 0;
}

.headerContainer .logo img {
    height: 190px;
}

.topMenuContainer {
    position: absolute;
    top: 170px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: none;
}

.topMenuContainer .menuBackground {
    padding: 8px 10px;
    box-shadow: 3px 4px 7px rgba(0,0,0,.2);
    width: 80%;
    border-radius: 0 0 10px 10px;
}

.topMenuContainer .menuContent {
    width: 100%;
    height: 100%;
    border: 2px solid #CC1417;
    border-top: none;
    padding: 100px 0 0 0;
    border-radius: 0 0 10px 10px;
}

.topMenuContainer .menuContent .menu {
    margin: 0 auto;
}

.topMenuContainer .item {
    width: 100%;
    margin: 0 auto 20px;
}

.topMenuContainer .item .mainItem {
    display: block;
    width: 100%;
    background-color: #FFE2E2;
    color: black;
    padding: 10px;
    font-size: 30px;
    border-radius: 8px;
}

/* Popup */

.popupWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 20;
    display: none;
}

.popupWindow .bluer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popupWindow .popupContent .closer {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0 20px;
}

/* Content */

.mobileContent {
    margin-bottom: 60px;
}

.mobileContent .categories a {
    color: #000;
}

.mobileContent .categories .categoryTitle {
    width: 100%;
    text-align: center;
    background-color: #ffd0d0;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.mobileContent .categories .image {
    text-align: center;
    margin-bottom: 20px;
}

.mobileContent .categories .image img {
    width: 80%;
}

.mobileContent .slider {
    border: 5px solid #ad9999;
    padding: 0;
    background-color: #ad9999;
}

.mobileContent .slider .sliderContainer {

}

.mobileContent .slider {
    margin-bottom: 70px;
}

.blogPostsContainer {
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 100px;
}

.blogPostsContainer .post {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
}

.blogPostsContainer .post:hover {
    transition: 500ms;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, .3);
}

.blogPostsContainer .post .title {
    width: 100%;
    text-align: center;
    background-color: #ffd0d0;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.blogPostsContainer .post .content {
    border: 2px solid #DC0000;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.blogPostsContainer .post .content .image {
    padding: 0;
    border-radius: 5px;
    margin: 0 0 10px;
    text-align: center;
    background-color: #c6c6c6;
    overflow: hidden;
}

.blogPostsContainer .post .content .image img {
    width: auto;
    height: 250px;
    min-height: 200px;
    margin: 0 auto;
}

.blogPostsContainer .post .content .text {
    border-radius: 5px;
    height: 250px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
    line-height: 22px;
    text-align: justify;
}

.blogPostsContainer .slick-prev:before, .blogPostsContainer .slick-next:before {
    font-size: 40px;
    color: #fff;
}

.blogPostsContainer .slick-prev {
    left: 65px;
    top: 270px;
    z-index: 20;
}

.blogPostsContainer .slick-next {
    right: 85px;
    top: 270px;
}

.footerContainer {
    background-color: #640000;
    padding: 20px;
}

.footerContainer .socialButtons .contactButton {
    border-radius: 50%;
    border: 2px solid #FFB2B2;
    color: #FFB2B2;
    padding: 2px 4px 4px 9px;
    margin-right: 10px;
    font-size: 23px;
}

.footerContainer .socialButtons .text {
    color: white;
    font-size: 15px;
}

.footerContainer .socialButtons .contactButton.emailButton {
    padding: 4px 3px 5px 9px;
}

.footerContainer .socialButtons .contactButton.vkButton {
    padding: 5px 4px 6px 7px;
}

.footerContainer .socialButtons .contactButton.instagramButton {
    padding: 6px 5px 6px 12px;
}

.footerContainer .socialButtons .contactButton.phoneButton {
    padding: 6px 5px 4px 13px;
}