@font-face {
    font-family: 'ukrainian';
    src: local('UkrainianJikharev'), local('UkrainianJikharev-Regular'),
    url(/public/fonts/ukrainianjikharev.woff) format('woff'),
    url(/public/fonts/ukrainianjikharev.ttf) format('truetype');
}

a, span, div, li {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
    height: 100%;
}

.ukrainianTitle {
    font-family: ukrainian, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}


.headerContainer {
    padding: 30px 20px;
    position: relative;
}

.headerLine {
    content: ' ';
    bottom: 0;
    position: absolute;
    background-image: url(/public/images/mobile/layout/afterMenuBackground.png);
    width: 100%;
    height: 100px;
    background-position: center center;
    top:170px;
}

.headerContainer .menuBackground {
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #FFCECE, #FDFDFD, #FFCECE);
    top: 5px;
    left: 0;
}

.headerContainer .headerControlPanel .controlButton {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;

}

.headerContainer .headerControlPanel .controlButton i {
    background-color: #FFF;
    padding: 8px 12px 10px;
    border: 2px solid #CC0000;
    color: #cc1417;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 24px;
}

.headerContainer .headerControlPanel .controlButton:hover {
    border: 3px solid #FFF;
}

.headerContainer .headerControlPanel .controlButton i:hover {
    background-color: #FFF;
}

.headerContainer .logo {
    right: 20px;
    z-index: 1;
    margin: -40px auto 0;
}

.headerContainer .logo img {
    height: 190px;
}

.topMenuContainer {
    position: absolute;
    top: 170px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.topMenuContainer .menuBackground {
    padding: 8px 10px;
    box-shadow: 3px 4px 7px rgba(0,0,0,.2);
    width: 70%;
    border-radius: 0 0 10px 10px;
}

.topMenuContainer .menuContent {
    width: 100%;
    height: 100%;
    border: 2px solid #CC1417;
    border-top: none;
    padding: 100px 0 0 0;
    border-radius: 0 0 10px 10px;
}

.topMenuContainer .menuContent .menu {
    margin: 0 auto;
}

.topMenuContainer .item {
    width: 100%;
    margin: 0 auto 20px;
}

.topMenuContainer .item .mainItem {
    display: block;
    width: 100%;
    background-color: #FFE2E2;
    color: black;
    padding: 10px;
    font-size: 30px;
    border-radius: 8px;
}