.productPage {
    margin-top: 50px;
}

.productPage div {
    display: inline-block;
}

.productPage .images {
    width: 515px;
    padding: 30px;
}

.productPage .images .mainImage {
    width: 445px;
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 7px;
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: 3px 4px 30px rgba(0, 0, 0, .2);
}

.productPage .images .mainImage img {
    width: 100%;
    border: 3px solid #ffb2b2;
    border-radius: 8px;
}

.productPage .images .imagesList {
    width: 460px;
}

.productPage .images .imagesList .image {
    display: inline-block;
    width: 110px;
    padding: 6px;
    background-color: #F6F6F6;
    margin-right: 5px;
    border-radius: 5px;
}

.productPage .images .imagesList .image img {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #ffb2b2;
}

.productPage .description {
    padding: 31px 0 0 0;
    width: 600px;
    position: relative;
}

.productPage .description .descriptionBackground {
    position: absolute;
    width: 635px;
    height: 60%;
    margin-top: 13%;
    background-color: #e6e6e6;
    z-index: -2;
}

.productPage .description .descriptionBackground:before {
    content: '';
    position: absolute;
    border: 318px solid transparent;
    border-bottom: 120px solid #e6e6e6;
    top: -438px;
    left: 0;
}

.productPage .description .descriptionBackground:after {
    content: '';
    position: absolute;
    border: 318px solid transparent;
    border-top: 120px solid #e6e6e6;
    bottom: -438px;
    left: 0;
}

.productPage .description .title {
    width: 560px;
    background-color: #f5c7c7;
    text-align: center;
    font-size: 40px;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    margin: 0 40px;
}

.productPage .description .title span {
    vertical-align: middle;
}

.productPage .description .text {
    padding: 20px;
    position: relative;
    margin-bottom: 60px;
}

.productPage .description .text .textBackground {
    position: absolute;
    left: -100px;
    background-color: #CDCDCD;
    width: 200%;
    height: 100%;
    z-index: -1;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}

.productPage .description .text .description {
    line-height: 19px !important;
}

.productPage .description .text .control {
    background-color: #000;
}

.controlButton span {
    margin-right: 10px;
}

.controlButton:hover {
    color: #F6F6F6;
    text-decoration: none;
    background-color: #995656;
}

.productPage .description .price {
    position: absolute;
    right: -10px;
    top: 10px;
    background-color: #fff;
    z-index: 1;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #320000;
    font-weight: bold;
    font-size: 20px;
}

.productPage .description .price i {
    font-size: 15px;
}