.productPage div {
    display: inline-block;
}

.productPage .images {
    padding: 30px;
}

.productPage .images .mainImage {
    margin: 0 auto 10px;
    overflow: hidden;
    width: 100%;
    padding: 7px;
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: 3px 4px 30px rgba(0, 0, 0, .2);
}

.productPage .images .mainImage img {
    width: 100%;
    border: 3px solid #ffb2b2;
    border-radius: 8px;
}

.productPage .images .imagesList {

}

.productPage .images .imagesList .image {
    display: inline-block;
    width: 110px;
    padding: 6px;
    background-color: #F6F6F6;
    margin-right: 5px;
    border-radius: 5px;
}

.productPage .images .imagesList .image img {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #ffb2b2;
}

.productPage .description {
    position: relative;
}


.productPage .title {
    background-color: #f5c7c7;
    text-align: center;
    font-size: 40px;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    margin: 0 40px;
    width: 100%;
}

.productPage .description .title span {
    vertical-align: middle;
}

.productPage .description .text {
    padding: 20px;
    position: relative;
}

.productPage .description .text .description {
    line-height: 19px !important;
    font-family: Calibri!important;
}

.productPage .description .text .control {
    background-color: #000;
}

.productPage .controlButton {
    padding: 5px 15px;
    border: 4px solid #f6f6f6;
    border-radius: 5px;
    background-color: #ffb2b2;
    color: #F6F6F6;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.productPage .controlButton span {
    margin-right: 10px;
}
.productPage .price {
    right: -10px;
    top: 10px;
    background-color: #fff;
    z-index: 1;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #320000;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto 20px;
}

.productPage .price i {
    font-size: 15px;
}