.articlesContainer {
    margin: 50px 0 0 0;
}

.articlesContainer .articleContainer {
    margin: 0 0 50px 0;
}


.articlesContainer .articleContainer .title {
    width: 100%;
    text-align: center;
    background-color: #ffcccc;
    padding: 20px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
    margin-bottom: 40px;
}

.articlesContainer .articleContainer .title h1 {
    color: #fff;
}

.articlesContainer .articleContainer .articleContent {
    position: relative;
    border: 2px solid #e30616;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
    background-color: rgba(255,255,255,0.2);
}

.articlesContainer .articleContainer .articleContent .imageContainer {
    border-radius: 19px;
    border: 7px solid rgba(246,246,246, .4);
    overflow: hidden;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.articlesContainer .articleContainer .articleContent .imageContainer .image {
    border-radius: 15px;
    border: 5px solid #ad9999;
    overflow: hidden;
}

.articlesContainer .articleContainer .articleContent .imageContainer .image img {
    width: 100%;
}

.articlesContainer .articleContainer .articleContent .textContainer {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

.articlesContainer .articleContainer .articleContent .bottom .date {

}

.articleBackground {
    position: absolute;
    left: -40%;
    top: 40%;
    height: 350px;
    width: 190%;
    background-color: #FFD2D2;
    padding: 20px;
    border-radius: 20px;
    z-index: -2;
}

.articleBackground .articleBackgroundImage {
    position: absolute;
    left: -25%;
    top: 15%;
    height: 70%;
    width: 200%;
    background: url(/public/images/layout/sliderBackground.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    padding-right: 40px;
    background-clip: padding-box;
    margin-bottom: 30px;
}

.articleBackground .articleBackgroundImage {
    height: 70%;
    width: 150%;
    background-size: contain;
    display: inline-block;
    padding-right: 40px;
    background-clip: padding-box;
    margin-bottom: 30px;
}