.cartProducts {
    margin-top: 100px;
    position: relative;
    margin-bottom: 150px;
}

.cartProducts .containerBackground {
    position: absolute;
    top: 180px;
    margin: 0 12%;
    width: 76%;
    height: 75%;
    background-color: #efefef;
    z-index: -1;
}

.cartProducts .containerBackground:before {
    content: '';
    position: absolute;
    border: 434px solid transparent;
    border-bottom: 200px solid #efefef;
    top: -634px;
    left: 0;
}

.cartProducts .containerBackground:after {
    content: '';
    position: absolute;
    border: 434px solid transparent;
    border-top: 200px solid #efefef;
    bottom: -634px;
    left: 0;
}

.cartProducts .cartControl {
}

.cartProducts .cartControl .total {
    padding: 3px 12px;
    background-color: #e6e6e6;
    border: 4px solid #f6f6f6;
    border-radius: 5px;
    color: #995c5c;
    width: 200px;
}

.cartProducts .cartControl .buttonContainer {
    border: 1px solid #cc1417;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 165px;
    box-shadow: 3px 4px 7px rgba(0,0,0,.2);
    background-color: rgba(0,0,0, .1);
}

.cartProducts .cartControl .buttonContainer a {
    padding: 3px 12px;
    border: 4px solid #f6f6f6;
    border-radius: 5px;
    background-color: #ffb2b2;
    color: #F6F6F6;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.cartProducts .cartControl .buttonContainer a:hover {
    background-color: #995656;
}

.cartProducts .cartControl .total .price {
    color: #000;
    float: right;
}

.cartProductContainer {
    position: relative;
}

.cartProductContainer .cartProductBackground {
    content: ' ';
    position: absolute;
    top: 20px;
    left: 40px;
    height: 120px;
    width: 100%;
    background: linear-gradient(to right, #ffe1e1, #fbe3e3);
}

.cartProductContainer .imageContainer {
    width: 160px;
    height: 160px;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 5px 10px 20px rgba(0,0,0,.2);
}

.cartProductContainer .imageContainer .image {
    border: 3px solid #ffb2b2;
    border-radius: 5px;
}

.cartProductContainer .information {

    padding: 65px 10px 65px 65px;
    font-size: 23px;
}

.cartProductContainer .imageContainer .image img {
    width: 100%;
}

.cartProductContainer .information div {
    display: inline-block;
}


.cartProductContainer .information .name {
    color: #995c5c;
    width: 300px;
    background-color: none;
    text-align: center;
}


.cartProductContainer .information .price {
    font-weight: bold;
    float: right;
}

.cartProductContainer .information .delete {
    float: right;
    margin: 5px 0 0 0;
    border: 3px solid #ededed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 6px 8px;
    font-size: 15px;
    background-color: #ffb2b2;
    color: #ededed;
    box-shadow: 1px 3px 7px rgba(0,0,0,.2);
    cursor: pointer;
}