.productsContainer {
    margin: 50px 0 0 0;
}

.filterContainer {
    padding: 0 0 20px;
}

.filterContainer .filtersBackground {
    position: absolute;
    content: '';
    background:#E6E6E6;
    width: 200px;
    height: 100%;
    z-index: -1;
    margin-left: 40px;
}

.filterContainer .filtersBackground:after {
    content: ' ';
    position: absolute;
    bottom: -150px;
    border: 100px solid transparent;
    border-top: 50px solid #E6E6E6;
}

.filterContainer .searchFilter {
    margin: 20px 0 0 0;
    border: 2px solid #F6F6F6;
    border-radius: .35rem;
}

.filterContainer .searchFilter .submitSearch {
    text-align: left;
    padding: 10px 25px;
    height: 50px;
}

.filterContainer .searchFilter .submitSearch .fa {
    float: right;
    padding-top: 3px;
    color: #FFB2B2;
    font-weight: bold;
}

.filterContainer .priceFilter {
    background:#E6E6E6;
    margin: 0 10px;
    padding: 10px 30px;
}

.filterContainer .tagsFilters .tagFilter {
    border: 3px #F6F6F6 solid;
    background-color: #FFE2E2;
    color: #995C5C;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
}

.filterContainer .tagsFilters .tagFilter.active {
    border: 3px #F6F6F6 solid;
    background-color: #FFCCCC;
    color: #000;
}

.filterContainer .tagsFilters .tagFilter.focus {
    border: 3px #F6F6F6 solid;
    box-shadow: none;
    color: #000;
}

.slider-selection {
    background: #f77500 !important;
}
.slider-success .slider-selection {
    background-color: #5cb85c !important;
}
.slider-primary .slider-selection {
    background-color: #428bca !important;
}
.slider-info .slider-selection {
    background-color: #5bc0de !important;
}
.slider-warning .slider-selection {
    background-color: #f0ad4e !important;
}
.slider-danger .slider-selection {
    background-color: #d9534f !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 20px;
}
.slider-handle {
    background-color: #fff !important;
    background-image: none !important;
    -webkit-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
    box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
}

.slider-strips .slider-selection {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
    background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
    display: none !important;
}
.slider .tooltip.top {
    margin-top: -25px !important;
}
.well {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 0;
}
.slider-ghost .slider-track {
    height: 5px !important;
}
.slider-ghost .slider-handle {
    top: -2px !important;
    border: 5px solid #f77500;
}
.slider-success.slider-ghost .slider-handle {
    border-color: #5cb85c;
}
.slider-primary.slider-ghost .slider-handle {
    border-color: #428bca;
}
.slider-info.slider-ghost .slider-handle {
    border-color: #5bc0de;
}
.slider-warning.slider-ghost .slider-handle {
    border-color: #f0ad4e;
}
.slider-danger.slider-ghost .slider-handle {
    border-color: #d9534f;
}
.priceFilterField {
    height: 30px;
    width: 80px;
}

.productContainer {
    padding: 3px 15px;
    margin-left: 8px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.productContainer .product {
    padding: 10px;
    height: 310px;
}

.productContainer .product .productContent {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #CC0000;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.productContainer .product .productContent .price {
    position: absolute;
    right: 0;
    top: -10px;
    background-color: #fff;
    z-index: 1;
    padding: 5px 19px;
    border-radius: 5px;
    border: 1px solid #CC0000;
    font-weight: bold;
    font-size: 19px;
}

.productContainer .product .productContent .price i {
    font-size: 13px;
}

.productContainer .product .productContent .image {
    border-radius: 5px;
    border: 2px solid #E6E6E6;
    margin-bottom: 10px;
    height: 225px;
    position: relative;
    text-align: center;
}

.productContainer .product .productContent .image img {
    max-width: 100%;
    height: 100%;
}

.productContainer .product .productContent .title {
    border-radius: 5px;
    background: #E6E6E6;
    text-align: center;
    font-size: 18px;
    padding: 3px 0;
}

.productContainer .product .productContent .title.active {
    background: none;
}

.productContainer .product .image .productControl {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 7px;
}

.productContainer .product .image .productControl .buttons {
    width: 200px;
    margin: 0 auto;
}

.productContainer .product .image .productControl .buttons a.btn {
    margin: 8px 0;
    padding: 5px 15px;
    text-align: left;
    font-size: 15px;
}

.productContainer .product .image .productControl .buttons a.btn .icon {
    float: right;
    font-size: 18px;
}